<% include partials/header %>
<div class="container">
  <div class="row">
      <h1 style="margin-bottom: 5%;">About</h1>
  </div>
  <div class="row"> 
    <div class="col-sm-6">
      <img class="img-responsive img-circle" src="https://lh3.googleusercontent.com/vxYtuW8bA4ycilwT2I1hAl5uS2e3-IovD781iBuWWYjqbwbe1WRGx_2b5DZjmvgEdx3wRmlI4wwBUoKRzyFXY28ySkAiyu8uouZu43naA5MBHeg1eCSCmgc5kwWBaSmuDT2luwOSFMp1wvf3-i--iLXFRPAJjG8hOCGBExsPcu7DgrEzJMYxpuV4ToZLXTcRPrqEGBQMhcaxbOk56A2srra1cMStag-gf_AShX0za6GdsxBqfV2vkCfgmiPl8GP1TiPATzDhmAnUXkOD7YhXluPJx2VlkVGIAex1fBI8mpKHZXJ-KxUXKfT-nnUM-xfmVTiQnxAgYXd3Y5hYzPqUtnkA6a5HcXTSM7CCccZHbIFmPDlowcdxs4yXN8CpvHmN2phQ2rdDlsBl2-OINFNfHxBXj_OnpQxxdxziw-exTNt9ZaImop3B3NlnBG6mCvVPC6UhTmrrcppKFWUmyOxDX_R2B3nGPnpmRcIHfoSf5WPy8c2UJ--3AXAaR8gZTcV33Gkp8TJYlF5yi3lpay8-wU3tq6RYBQp8lXey-odWsBgtOroxahP6wS80oUSJ5ozb7cBsbVZuU9Pe4FD51VuMI1G5zhcjRTBpPuK1Iv4=s782-no" alt="">       
    </div>
    <div class="col-sm-6">
    <p> Welcome to my website! I am a computer scienctist with a background in information security. 
        I am very passionate about technology and information security so much so that I am up until the wee
        hours of the morning studying, writing code, and reading about all things compsci most days. Aside from my passion in tech, I am a 
        decorated two sport athlete (Judo, Boxing), where I have competed literally all over the globe!
        Here are some links to see me in action
    </p>
    </div>
  </div>
</div>
<% include partials/footer %>