<% include partials/header %>
<h1>New Computer Post</h1>

<form action="/compsci" method="POST">
  <input type="text" name="cblog[title]" placeholder="title">
  <input type="text" name="cblog[image]" placeholder="image">
  <input type="text" name="cblog[body]" placeholder="body">
  <button>Submit</button>
</form>

<% include partials/footer %>