<% include partials/header %>


<div class="container">
  <div class="jumbotron">
    <h1>Welcome to my personal blog</h1>
    <p>My blog is built from scratch using the MEAN stack. It is a practice project under development. </br>
      My blog posts are composed of articles related to computer science and sports science. I hope you enjoy!</p>
  </div>
  
  <div class="row">
    <div class = "col-lg-4 col-md-4">
      <div class="thumbnail">
        <a href="/about"><img src="https://scontent-sea1-1.cdninstagram.com/t51.2885-15/s480x480/e35/c127.0.495.495/21690571_350632342056083_5488727123478708224_n.jpg?ig_cache_key=MTYwNzM1NjgzNzMwOTIyMjg5OA%3D%3D.2.c&se=7" alt=""></a>
        <p>About</p>
      </div>
    </div>
    <div class = "col-lg-4 col-md-4">
      <div class="thumbnail">
        <a href="/compsci"><img src="https://www.corero.com/img/blog/thumb/833teen-hackers.jpg" alt=""></a>
        <p>Computer Science</p>
      </div>
    </div>
    <div class = "col-lg-4 col-md-4">
      <div class="thumbnail">
        <a href="/sportsci"><img src="http://scontent.cdninstagram.com/t51.2885-15/s480x480/e15/14704939_1238081839641223_3418972505111527424_n.jpg?ig_cache_key=MTM3MDQwMzE0MDMxNDIyOTU4MA%3D%3D.2" alt=""></a>
        <p>Sports Science</p>
      </div>
    </div>
  </div>
  
  
</div>
<% include partials/footer %>
